html {
  font-size: 17px;
}

body {
  font-family: "Electrolize", sans-ser;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: black;
  min-width: 450px;
}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}  

h2 {
  text-align: center;
}

.hr {
    background-color: aqua;
    border: none;
    height: 4px;
}

.banner {
  background-image: url(../Media/Neon-background.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px;
}

#logo {
  display: flex;
  justify-content: center;
}

#logo-image {
  width: 300px;
}

.nav-logo {
  width: 50px;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.page-footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.carousel {
  width: 100%;
  margin-bottom: 50px;
  margin-bottom: 50px;
  padding: 25px;
}

#lineup-text {
  margin: 0 50px 50px;
}

.festival-image {
  width: 75%;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
}

.page-section {
  padding: 50px 0;
  background-image: url(../Media/Rave-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 50px;
  border-radius: 25px;
}

.artist-images {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
}

.genre-description {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#techno-section {
  padding: 20px;
  background: url("../Media/Techno-background-image.webp") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 20px;
  color: white;
}

#house-section {
  padding: 20px;
  background-image: url(../Media/House-Music-background.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 20px;
  color: white;
}

#dubstep-section {
  padding: 20px;
  background-image: url(../Media/Dubstep-background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 20px;
  color: white;
}

#advertising-bg-image {
  background-image: url(../Media/Festival-Image2.jpg);
  background-size: cover;
  background-position: center;
}

#advertisers-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#text-area {
    max-height: 100px;

}

#text-area-2 {
  max-height: 150px;
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 2px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgb(235, 10, 14) 0,
    rgb(26, 87, 201) 100%
  );
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container .form-group {
  margin-bottom: 15px;
}
